<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="jumbotron text-center pageTwo">
  <br />
  <br />
  <!-- <div class="container"> -->
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3" style="color: white; text-shadow: 2px 2px 8px #111111;">Listener Takeover Playlist!</h1>
    <p id="demo" class="display-3" style="color: white; font-size: 4.5rem; text-shadow: 2px 2px 8px #111111;"></p>
    <p class="display-3" style="color: white; font-size: 3rem; text-shadow: 2px 2px 8px #111111;">First 5 songs get played during next Listener Takeover! Songs submitted more than once get priority. Only one song per user</p>
    <!-- this will loop through all the users with secrets -->


    <div class="votingContainer">
      <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text" style="font-size: 3rem;">
        <%=user.secret%>

      </p>

      <!-- <input type="button" class="downVote" value="down vote" />
      <span class="voteValue display-3" style="color: white; font-size: 2rem; text-shadow: 2px 2px 8px #111111;">
        user.secretValue
        </span>

      <input type="button" class="upVote" value="up vote" /> -->
      <% }) %>
      </div>







    <hr>
    <a class="btn btn-dark btn-lg addSong" href="/songrequests" role="button">Add a song</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  <!-- </div> -->

</div>




<%- include('partials/contactUs') %>
<%- include('partials/footer') %>
</body>
<script>





  $( document ).ready(function() {
    var credit = parseInt($("#creditValue").text());

    if(credit == 0){
      $('.downVote, .upVote, .addSong').addClass('disabled').attr('disabled', 'disabled');
    }
  });




  $(document).on("click", ".upVote", function() {

    // var input = parseInt($(".voteValue").text());
    // var valueNew = input.eq(i).val(), 10;
    // valueNew = isNaN(valueNew) ? 0 : valueNew;
    // valueNew++;
    // input.val(valueNew);
    var secretValue = parseInt($(".voteValue").text());
    console.log('this is the secretValue ' + secretValue);
    secretValue = secretValue +1;

    $.post("/updateValue", {
      secretValue: secretValue,
    },function(){$(".voteValue").text(secretValue);});

  });


  $(document).on("click", ".downVote", function() {
    // lvar input = $(this).parent().find('.voteValue');
    // var valueNew = parseInt(input.val(), 10);
    // value = isNaN(valueNew) ? 0 : valueNew;
    // valueNew++;
    // input.val(valueNew);
    var secretValue = parseInt($(".voteValue").text());
    if (secretValue == 0) {
      alert('cannot vote below 0!');
      // console.log('should not be working!');
      return;
    } else {
    secretValue = secretValue -1;
    // console.log(secretValue);
    $.post("/updateValue", {
      secretValue: secretValue,
    },function(){$(".voteValue").text(secretValue);});}

  });

  // Set the date we're counting down to
  /////////////////?TAKEOVER COUNTDOWN SETTINdG
  var countDownDate = new Date("Mar 13, 2019 19:15:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      $('.downVote, .upVote, .addSong').addClass('disabled').attr('disabled', 'disabled');
      document.getElementById("demo").innerHTML = "Voting Now Closed! Be sure to listen for the next Takeover alert!";
    }
  }, 1000);


</script>




<script>
  // // ADDS CLICKED LIST ITEM TO DATABASE!!!!! YAASSSS
  //   $('#myUL').on("click", "li", function() {
  //   var clickChoice = $(this).text();
  // // attempt to get it to dissapear on click
  //   // document.getElementById('#myUL')ul.style.display = " ";
  //    songData.push({name : clickChoice,
  //                   value : 1 });
  //
  //
  //
  // // console.log('this is songData ' + songInPlay)
  // });

  // ref.on("child_added", function(snapshot){
  //     var key = snapshot.val().name;
  //     var songValue = snapshot.val().value;
  //     console.log('this is snapshot ' + snapshot)
  //     // console.log('this is the song value' + songValue)
  //   $("#choiceUL").append(
  //   $("<li>").addClass("selectedSong").html('<p>' + key + '</p>')
  // .append($('<input type="button" class="downVote" value="down vote"/><input class="voteValue" type="text" readonly value="1"/><input type="button" class="upVote" value="up vote"/>')))
  //   // console.log('this is song value' + songValue)
  // });
  //   // console.log('this is song value' + songValue)
</script>
